/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
	--font-size: 62, 50%;
}





/****************/
/* JOUW STYLING */
/****************/

/*body */
body {
	margin: 0;

}

/******************************/
/* Overzichtspagina styling  */
/**********************8*******/
.home-page {
	background-color: #f0eee4;
	margin: 0;
}

.nav-bar-icons button {
	border-color: transparent;
	background-color: #f0eee4;
}


/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.home-page-nav li a{
		display: none;
		text-decoration: none;
	}

	.home-page-nav li{
		display: none;
	}

	.home-page-logo {
		display: flex;
		justify-content: center;
	}

	.home-page-logo img {
		max-width: 10rem;
	}

	.home-page{
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content: end;
		height: 5rem;
		padding: 1rem;
		width: 100% ;
		position: fixed;
	}
	
	.home-page-nav{
		justify-content: space-evenly;
	}

	.nav-bar-icons button {
		padding: 1rem;
		margin-left: 5rem;
	}

	.nav-bar-icons button {
	margin-left: 13rem;
	}


}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.home-page-nav li a{
		display: none;
		text-decoration: none;
	}

	.home-page-nav li{
		display: none;
	}

	.home-page-logo {
		display: flex;
		justify-content: center;
	}

	.home-page-logo img {
		max-width: 10rem;
	}

	.home-page{
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content: end;
		height: 5rem;
		padding: 1rem;
	}
	
	.home-page-nav{
		justify-content: space-evenly;
	}

	.nav-bar-icons button {
		padding: 1rem;
		margin-left: 5rem;
	}

	.nav-bar-icons button {
	margin-left: 19rem;
	}


}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.home-page-logo {
		display: flex;
		justify-content: center;
		padding-top: 0.5rem;
	}

	.styling-navbar {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.home-page-nav {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav-bar-icons button {
		padding: 2rem;
	}


	.home-page-nav a {
		text-decoration: none;
		color: black;
		font-family: 'Martel sans', sans-serif;
		padding-left: 4rem;
	}

	.home-page-nav li {
		width: 100%;
		font-size: 0.9rem;
	}

	#nav-link {
		display: none;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.home-page-logo {
		display: flex;
		justify-content: center;
		padding-top: 0.5rem;
	}

	.styling-navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.home-page-nav {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	.home-page-nav a {
		text-decoration: none;
		color: black;
		font-family: 'Martel sans', sans-serif;
		padding-left: 4rem;
	}

	.home-page-nav li {
		width: auto;
		font-size: 0.9rem;
		margin-right: 17px;
	}

	.nav-bar-icons button {
		padding: 2rem;
	}
}

/*home page sale  */

.home-page-sale {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%;
	margin: 0px;
}


.home-page-sale-inhoud h2,
h3 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 50;
	color: white;
	letter-spacing: 0.125rem;
	margin: 0;
}

.home-page-sale-inhoud p {
	color: white;
	font-family: 'Martel sans', sans-serif;
	line-height: 1.3rem;
}

.home-page-sale-links a {
	text-decoration: none;
	color: black;
	font-size: 1.1rem;
	background-color: white;
	padding: 0.5rem;
	padding-left: 6rem;
	padding-right: 6rem;
	margin: 0.5rem;
}

.home-page-sale-links button {
	background-color: transparent;
	color: white;
	font-size: 1.1rem;
	border-color: white;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	margin: 0.5rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.home-page-sale {
		background-image: url("..//images/main/overzichtspage/home-page-2277x2850.avif");
	}

	.home-page-sale-inhoud {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 4rem;
		padding-top: 19rem;
		padding-bottom: 5rem;
		max-width: 35rem;
	}

	.home-page-sale-inhoud h2 {
		font-size: 1.5rem;
		text-align: center
	}

	.home-page-sale-inhoud h3 {
		font-size: 1.8rem;
		max-width: 29rem;
		text-align: center;
	}

	.home-page-sale-inhoud p {
		text-align: center;
		max-width: 30rem;
	}

	.home-page-sale-links {
		display: flex;
		flex-direction: column;
		font-family: 'Martel sans', sans-serif;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.home-page-sale {
		background-image: url("..//images/main/overzichtspage/home-page-5760-2640.avif");
	}

	.home-page-sale-inhoud {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 4rem;
		padding-top: 19rem;
		padding-bottom: 5rem;
		max-width: 35rem;
	}

	.home-page-sale-inhoud h2 {
		font-size: 1.5rem;
		text-align: center
	}

	.home-page-sale-inhoud h3 {
		font-size: 1.8rem;
		max-width: 29rem;
		text-align: center;
	}

	.home-page-sale-inhoud h3 {
		font-size: 1.8rem;
		max-width: 29rem;
		text-align: center;
	}

	.home-page-sale-links {
		display: flex;
		flex-direction: column;
		font-family: 'Martel sans', sans-serif;
	}
}



/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.home-page-sale {
		background-image: url("..//images/main/overzichtspage/home-page-5760-2640.avif");
	}

	.home-page-sale-inhoud p {
		max-width: 21rem;
	}

	.home-page-sale-inhoud {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 4rem;
		padding-top: 7rem;
		padding-bottom: 10rem;
	}

	.home-page-sale-inhoud h2 {
		font-size: 2.1rem;
	}

	.home-page-sale-inhoud h3 {
		font-size: 2.7rem;
		max-width: 29rem;
	}

	.home-page-sale-links {
		display: flex;
		flex-direction: row;
		font-family: 'Martel sans', sans-serif;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.home-page-sale {
		background-image: url("..//images/main/background-home-page-1440-470.png");
	}

	.home-page-sale-inhoud {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 4rem;
		padding-top: 7rem;
		padding-bottom: 10rem;
	}

	.home-page-sale-inhoud h2 {
		font-size: 2.1rem;
	}

	.home-page-sale-inhoud h3 {
		font-size: 2.7rem;
		max-width: 29rem;
	}

	.home-page-sale-links {
		display: flex;
		flex-direction: row;
		font-family: 'Martel sans', sans-serif;
	}
}



/*Ignite your night */
.Ignite-your-dreams {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #f0eee4;
}

.Ignite-your-dreams h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 50;
	letter-spacing: 0.125rem;

}

.Ignite-your-dreams p {
	font-family: 'Martel sans', sans-serif;
	max-width: 60rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 3rem;
}


/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.Ignite-your-dreams h2 {
		font-size: 1.5rem;
		margin-top: 4rem;
	}

	.Ignite-your-dreams p {
		max-width: 27rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.Ignite-your-dreams h2 {
		font-size: 1.5rem;
		margin-top: 4rem;
	}

	.Ignite-your-dreams p {
		max-width: 55rem;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.Ignite-your-dreams h2 {
		font-size: 2.2rem;
		margin-top: 4rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.Ignite-your-dreams h2 {
		font-size: 2.2rem;
		margin-top: 4rem;
	}
}



/*valentine  */
.valentine {
	background-size: cover;
	background-repeat: no-repeat;
}

.valentine h2 {
	margin: 0px;
	font-weight: 50;
	font-family: 'Hedvig Letters Serif', sans-serif;
}

.valentine p {
	font-family: 'Martel sans', sans-serif;
	font-weight: 900;
}

.valentine a {
	text-decoration: none;
	color: white;
	background-color: black;
	font-family: 'Martel sans', sans-serif;
	padding: 0.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin: 0.5rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.valentine {
		background-image: url("..//images/main/overzichtspage/valentine-759-950.avif");
		background-position: center;
		height: 705px;
		padding-top: 29rem;
		padding-bottom: 20rem;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.valentine p {
		max-width: 25rem;
		text-align: center;
		margin: 0;
		font-size: 1.3rem;
		line-height: 1.8rem;
	}

	.valentine h2 {
		font-size: 2.0rem;
	}

	.valentine a {
		margin-top: 2rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.valentine {
		background-image: url("..//images/main/overzichtspage/valentine-2048-1536.avif");
		background-position: center;
		width: cover;
		padding-top: 10rem;
		padding-bottom: 10rem;
		padding-left: 8rem;
		height: 705px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.valentine p {
		max-width: 40rem;
		text-align: center;
		font-size: 1.4rem;
	}

	.valentine h2 {
		font-size: 3.0rem;
		max-width: 40rem;
		margin-top: 15rem;
	}

}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.valentine {
		background-image: url("..//images/main/overzichtspage/valentine-4347-1800.avif");
		background-position: center;
		width: cover;
		padding-top: 10rem;
		padding-bottom: 10rem;
		padding-left: 8rem;
		height: 705px;
	}

	.valentine p {
		max-width: 40rem;
		font-size: 1.4rem;
	}

	.valentine h2 {
		font-size: 3.0rem;
		max-width: 20rem;
	}

}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.valentine {
		background-image: url("..//images/main/valentine-biggest-size.avif");
		background-position: auto;
		padding-top: 10rem;
		padding-bottom: 10rem;
		padding-left: 8rem;
		height: 705px;
	}

	.valentine p {
		max-width: 45rem;
		font-size: 1.4rem;
	}

	.valentine h2 {
		font-size: 3.6rem;
		max-width: 25rem;
	}

}




/*love at first */
.love-at-first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.love-at-first h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 50;
}

.love-first-1 p {
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.003rem;
}

.love-first-1 a {
	text-decoration: underline;
	text-underline-offset: 0.5rem;
	color: black;
	font-family: 'Martel sans', sans-serif;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.love-at-first h2 {
		font-size: 1.7rem;
	}

	.love-first-articles {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.love-first-1 {
		max-width: 30rem;
		margin: 3.3rem;
	}

	.love-at-first h2 {
		font-size: 1.5em;
	}

	.love-first-1 img {
		max-width: 30rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.love-first-articles {
		display: flex;
		flex-direction: row;
	}

	.love-at-first h2 {
		font-size: 2.0rem;
	}

	.love-first-1 img {
		max-width: 16rem;
	}

	.love-first-1 {
		max-width: 30rem;
		margin: 3.3rem;
	}

	.love-first-1 h2 {
		font-size: 1.2rem;
		font-weight: 80;
	}

}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.love-first-articles {
		display: flex;
		flex-direction: row;
		overflow: auto;
	}

	.love-at-first h2 {
		font-size: 2.2rem;
	}

	.love-first-1 h2 {
		font-size: 1.5rem;
		font-weight: 80;
	}

	.love-first-1 img {
		max-width: 30rem;
	}

	.love-first-1 {
		max-width: 100%;
		margin: 100%;
		margin: 3.3rem;
	}

}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.love-first-articles {
		display: flex;
		flex-direction: row;
		overflow: auto;
		width: 100%;
	}

	.love-at-first h2 {
		font-size: 2.0rem;
	}

	.love-first-1 img {
		max-width: 30rem;
	}

	.love-first-1 h2 {
		font-size: 1.5rem;
		font-weight: 80;
	}

	.love-first-1 {
		max-width: 100%;
		margin: 3.3rem;
	}

}



/*video Matrix  */

.beschrijving-video {
	display: flex;
	flex-direction: column;
}

.beschrijving-video h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-size: 2rem;
	font-weight: 50;
}

.beschrijving-video p {
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.004rem;
}

.beschrijving-video a {
	text-decoration: none;
	color: white;
	background-color: black;
	font-family: 'Martel sans', sans-serif;
	padding: 0.5rem;
	margin: 0.5rem;
	width: 15rem;
	text-align: center;
}


/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.video-article {
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: center;
		justify-content: center;
	}


	.beschrijving-video {
		align-items: flex-start;
		margin-left: 2rem;
		margin-top: -2rem;
	}

	.video-love video {
		width: 100%;
	}

	.beschrijving-video a {
		margin-bottom: 2rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.video-article {
		display: flex;
		justify-content: flex-start;
		height: 900px;
		overflow: auto;
	}

	.beschrijving-video {
		align-items: flex-start;
		max-width: 55rem;
		margin-left: 2rem;
		margin-top: -2rem;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.video-article {
		display: flex;
		justify-content: flex-start;
		height: 900px;
	}

	.beschrijving-video {
		align-items: flex-start;
		max-width: 55rem;
		margin-left: 2rem;
		margin-top: -2rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.video-article {
		display: flex;
		justify-content: flex-start;
		height: 900px;
	}

}




/*Birthstones */
.birthstones {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0eee4;
	padding: 2rem;
}

.birthstones h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 50;
}

.birthstones-options {
	display: flex;
	flex-direction: row;
}

.birthstone-article {
	margin: 0.5rem;
	background-color: white;
	text-align: center;
}

.birthstone-article h3 {
	color: black;
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.004rem;
	font-weight: bolder;
	font-size: 0.8rem;
}

.birthstones-article a img {
	width: 10rem;
}


.sieraad-rood img {
	width: 13rem;
}

.birthstone-article img {
	padding-bottom: 3rem;
}

.birthstone-article p {
	font-family: 'Martel sans', sans-serif;
	font-size: 0.8rem;
	margin: 0;
}

.price p {
	font-family: 'Martel sans', sans-serif;
	font-size: 0.9rem;
}

.birthstone-colors p {
	background-color: #f0eee4;
	font-size: 0.7rem;
	font-family: 'Martel sans', sans-serif;
	margin: 0.5rem;
	border-radius: 1rem;
	margin-inline: 70px;
}

.birthstone-colors {
	color: #5a5a5a;
	text-align: center;
}


/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.birthstones h2 {
		font-size: 1.4rem;
	}


	.birthstone-article {
		padding: 1rem;
		width: 15rem;
		overflow: hidden;
		align-items: flex-start;
	}

	.birthstones-options {
		max-width: max-content;
	}

}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.birthstones h2 {
		font-size: 1.4rem;
	}

	.birthstone-article {
		padding: 1rem;
		width: 25rem;
		overflow: hidden;
		align-items: flex-start;
	}

	.birthstones-options {
		max-width: max-content;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.birthstones h2 {
		font-size: 2.2rem;
	}

	.birthstone-article {
		padding: 2rem;
		overflow: auto;
	}

	.birthstones-options {
		margin: 4rem;
	}

}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.birthstones h2 {
		font-family: 'Hedvig Letters Serif', sans-serif;
		font-size: 2.2rem;
		font-weight: 50;
	}

	.birthstone-article {
		padding: 4rem;
	}

}



/*Categorie */
.categorie {
	background-color: #f0eee4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.categorie h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-size: 2.5rem;
	font-weight: 50;
	padding-top: 7rem;
	padding-bottom: 1rem;
}

.jewerly {
	display: flex;
	flex-direction: row;
	padding-bottom: 5rem;
}

.jewerly-categorie {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.2rem;
	background-color: #f8f7f1;
}


.jewerly-categorie p {
	margin: 0;
	padding: 0.8rem;
	font-family: 'Martel sans', sans-serif;
	font-size: 1rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.categorie {
		padding: 15rem;
		max-width: 100%;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.categorie {
		padding: 15rem;
	}

	.jewerly-categorie a {
		max-width: 45rem
	}

	.jewerly-categorie a img {
		max-height: 19rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.categorie {
		max-width: 100%;
	}

	.jewerly-categorie a {
		max-width: 53rem
	}

	.jewerly-categorie a img {
		width: 21em;
	}
}




/*wereld van swarovski */
.world-of-swarovski {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f0eee4;
}

.world-of-swarovski-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.world-of-swarovski-2 h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-size: 2.5rem;
	font-weight: 50;
}

.world-of-swarovski-2 p {
	font-family: 'Martel sans', sans-serif;
}

.world-of-swarovski-2 a {
	font-family: 'Martel sans', sans-serif;
	text-decoration: none;
	color: black;
	background-color: transparent;
}


.world-of-swarovski-3 {
	display: flex;
	flex-direction: row;
}

.world-article {
	width: 33rem;
	margin: 2rem;
	padding: 1rem;
}

.world-article h3 {
	color: black;
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-size: 1.5rem;
	font-weight: 800;
	padding-top: 1rem;
}

.world-article p {
	font-family: 'Martel sans', sans-serif;
	max-width: 33rem;
}

.world-article a {
	font-family: 'Martel sans', sans-serif;
	text-decoration: none;
	color: black;
	outline-color: red;
}

.link-to-world {
	font-family: 'Martel sans', sans-serif;
	text-decoration: none;
	color: black;
	outline: 1px;
	outline-style: solid;
	width: 15rem;
	text-align: center;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;

}

.world-article a img {
	width: 30rem;
}




.lidmaatschap {
	display: flex;
	flex-direction: row;
	background-color: #fcc3cc;
	justify-content: end;
}

.lidmaatschap img {
	width: 35rem;
}

.lidmaatschap-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 38rem;
}

.lidmaatschap-1 p {
	text-align: center;
	font-family: 'Martel sans', sans-serif;
	text-decoration: none;
	letter-spacing: 0.004rem;
	font-weight: 600;
	font-size: 1rem;
	color: black;
}

.lidmaatschap-1 h2 {
	color: black;
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-size: 1.5rem;
}

.lidmaatschap-1 a {
	color: black;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.lidmaatschap img{
		display: none;
	}

	.lidmaatschap-1{
		justify-content: center;
		width: 100%;
		margin-right: 1.5rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.lidmaatschap img{
		display: none;
	}

	.lidmaatschap-1{
		justify-content: center;
		width: 100%;
		margin-right: 5rem;
	}
}



#extra {
	color: white;
	font-family: 'Martel sans', sans-serif;
	text-decoration: none;
	letter-spacing: 0.004rem;
	background-color: black;
	padding: 0.5rem;
	margin: 0.5rem;
	width: 15rem;
	text-align: center;
}


.footer-column {
	display: flex;
	flex-direction: column;
}

.kopje a {
	font-size: 0.9rem;
	color: black;
	text-decoration: none;
	font-family: 'Martel sans', sans-serif;
	font-weight: 900;
}

.other-kopjes {
	display: flex;
	flex-direction: column;
}

.other-kopjes a {
	color: rgb(112, 110, 106);
	text-decoration: none;
	font-family: 'Martel sans', sans-serif;
	font-weight: 400;
	font-size: 0.8rem;
	padding: 0.52rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.other-kopjes{
		display: none;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 1rem;
		max-width: 100%;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.other-kopjes{
		display: none;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 2rem;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 2rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 2rem;
	}
}







/****************************/
/* Decoratie pagina styling*/
/****************************/


/* Home page decoratie */
.home-page-deco {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto;
	object-fit: cover;
}

.home-page-deco-inhoud h1 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 800;
	color: black;
	letter-spacing: 0.125rem;
	margin: 0;
}

.home-page-deco-inhoud h2 {
	font-family: 'Martel sans', sans-serif;
	font-size: 1.3rem;
	color: black;
	letter-spacing: 0.05rem;
	margin: 0;
}

.home-page-deco-inhoud a {
	text-decoration: none;
	font-family: 'Martel sans', sans-serif;
	color: black;
	font-size: 1rem;
	padding: 0.2rem;
	padding-left: 3rem;
	padding-right: 3rem;
}


#micro-interaction-1{
background-color: white;
cursor:pointer;
transition:.5s;
}

#micro-interaction-1:hover{
	background-color:transparent;
	outline: 1px;
	  outline-style: solid;
	outline-color: white;
  }
 
/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.home-page-deco {
		background-image: url("..//images/main/decoratie-page/1518-1900.avif");
		background-position: center;
		padding-top: 20rem;
		padding-bottom: 4rem;
	}

	.home-page-deco-inhoud {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 25rem;
	}

	.home-page-deco-inhoud h1 {
		font-size: 2.0rem;
	}

	.home-page-deco-inhoud h2 {
		width: 100%;
		text-align: center;
	}

	.home-page-deco-inhoud a {
		margin-top: 2rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.home-page-deco {
		background-image: url("..//images/main/decoratie-page/2048-1536.avif");
		height: 100%;
		background-position: center;
		background-position: center;
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	.home-page-deco-inhoud h1 {
		font-size: 2.0rem;
	}

	.home-page-deco-inhoud h2 {
		size: 100%;
	}

	.home-page-deco-inhoud {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 25rem;
	}

	.home-page-deco-inhoud a {
		margin-top: 2rem;
	}

}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.home-page-deco {
		background-image: url("..//images/main/decoratie-page/2898-1200.avif");
		padding-top: 10rem;
		padding-bottom: 10rem;
		padding-left: 8rem;
	}

	.home-page-deco-inhoud h1 {
		font-size: 2.0rem;
	}

	.home-page-deco-inhoud h2 {
		width: 50%;
		padding-bottom: 3rem;
	}

	.home-page-deco-inhoud {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 4rem;
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	.home-page-deco-inhoud a {
		.home-page-deco-inhoud a {
			margin-top: 3rem;
		}
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.home-page-deco {
		background-image: url("..//images/main/decoratie-page/3840-1300.avif");
		height: 100%;
		width: 100%;

	}

	.home-page-deco-inhoud h1 {
		font-size: 2.7rem;
	}

	.home-page-deco-inhoud h2 {
		width: 95%;
	}

	.home-page-deco-inhoud {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 7rem;
		padding-top: 20rem;
		padding-bottom: 20rem;
	}

	.home-page-deco-inhoud a {
		margin-top: 3rem;
	}
}




/* sectie woonaccesoires */
.inspirerende-woonaccesoires {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #f0eee4;
}

.inspirerende-woonaccesoires h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 25;
	letter-spacing: 0.125rem;
}

.inspirerende-woonaccesoires p {
	font-family: 'Martel sans', sans-serif;
	text-align: center;
	padding-bottom: 3rem;
}


/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.inspirerende-woonaccesoires h2 {
		font-size: 1.6rem
	}

	.inspirerende-woonaccesoires p {
		max-width: 29rem;
		line-height: 1.4rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.inspirerende-woonaccesoires h2 {
		font-size: 1.6rem
	}

}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.inspirerende-woonaccesoires h2 {
		font-size: 2.7rem;
	}

	.inspirerende-woonaccesoires p {
		max-width: 60rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.inspirerende-woonaccesoires h2 {
		font-size: 2.7rem;
	}

	.inspirerende-woonaccesoires p {
		max-width: 60rem;
	}
}





/* sectie woonaccesoires */
.disney100 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto;
	display: flex;
	flex-direction: column;
}

.disney100 h2 {
	margin: 0;
	font-weight: 40;
	font-family: 'Hedvig Letters Serif', sans-serif;
}

.disney100 h3 {
	font-family: 'Martel sans', sans-serif;
	font-weight: 900;
	color: black;
}

.disney100 h4 {
	font-family: 'Martel sans', sans-serif;
	font-size: 0.7rem;
	margin-bottom: 5rem;

}

.disney100 a {
	text-decoration: none;
	color: white;
	font-family: 'Martel sans', sans-serif;
	padding: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 16rem;
}

#micro-interaction-2{
	background-color: black;
	cursor:pointer;
	transition:.5s;
	}
	
	#micro-interaction-2:hover{
		background-color:transparent;
		outline: 1px;
		  outline-style: solid;
		outline-color: black;
		color: black;
	  }


/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.disney100 {
		background-image: url("..//images/main/decoratie-page/disney-1518-1900.avif");
		height: 710px;
		align-items: center;
		justify-content: center;
		padding-top: 10rem;
		padding-bottom: 20rem;
	}

	.disney100 h2 {
		width: 100%;
		font-size: 2.0rem;
		text-align: center;

	}

	.disney100 h3 {
		font-size: 1.2rem;
		width: 100%;
		text-align: center;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.disney100 {
		background-image: url("..//images/main/decoratie-page/disney-2048-1536.avif");
		text-align: center;
	}

	.disney100 {
		align-items: center;
		justify-content: center;
		padding-top: 10rem;
		padding-bottom: 20rem;

	}

	.disney100 h2 {
		max-width: 40rem;
		font-size: 2.0rem;

	}

	.disney100 h3 {
		font-size: 1.2rem;
		max-width: 47rem;
		text-align: center;
	}


}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.disney100 {
		background-image: url("..//images/main/decoratie-page/disney-2898-1200.avif");
	}

	.disney100 {
		align-items: flex-start;
		padding-top: 10rem;
		padding-bottom: 10rem;
		padding-left: 8rem;
	}

	.disney100 h2 {
		max-width: 35rem;
		font-size: 3.0rem;
	}

	.disney100 h3 {
		font-size: 1.3rem;
		max-width: 55rem;
	}

}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.disney100 {
		background-image: url("..//images/main/decoratie-page/disney-3840-1300.avif");
	}

	.disney100 {
		align-items: flex-start;
		padding-top: 10rem;
		padding-bottom: 10rem;
		padding-left: 8rem;
	}

	.disney100 h2 {
		max-width: 35rem;
		font-size: 3.0rem;
	}

	.disney100 h3 {
		font-size: 1.3rem;
		max-width: 55rem;
	}

}






/* disney assortiment */
.disney-assortiment {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f0eee4;
	padding: 2rem;
}

.disney-assortiment h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: bolder;
}

.disney-assortiment-options {
	display: flex;
	flex-direction: row;
}

.disney-assort {
	margin: 0.5rem;
	background-color: white;
	text-align: center;
}

.disney-assort h3 {
	color: black;
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.004rem;
	font-weight: bolder;
	font-size: 0.8rem;
}

.disney-assort a img {
	width: 12rem;
}

.disney-assort p {
	color: black;
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.004rem;
	font-weight: 400;
	font-size: 0.8rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.disney-assort {
		padding: 1.5rem;
		overflow: hidden;

	}

	.disney-assortiment {
		width: 100%;
	}

	.disney-assort a img {
		width: 12rem;
		margin: -5px;
	}

	.disney-assortiment-options {
		align-items: flex-end;
	}

	.disney-assortiment h2 {
		font-size: 1.5rem;
	}


}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.disney-assortiment h2 {
		font-size: 2.2rem;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.disney-assort {
		padding: 2rem;
	}

	.disney-assortiment h2 {
		font-size: 2.2rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.disney-assort {
		padding: 4rem;
	}

	.disney-assortiment h2 {
		font-size: 2.2rem;
	}

}




/* video Marvel */
.video-marvel {
	background-color: #f0eee4;
}

#backgroundvideo {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}


/* tekst bij de video Marvel */

.marvel-text {
	background-position: center;
	z-index: 2;
	position: absolute;
	text-align: center;
}

.marvel-text h2 {
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 300;
}

.marvel-text h3 {
	color: black;
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.004rem;
	font-weight: bolder;
	font-size: 1.2rem;
}

.marvel-text a {
	text-decoration: none;
	color: black;
	background-color: white;
	font-family: 'Martel sans', sans-serif;
	padding: 0.5rem;
	padding-left: 4rem;
	padding-right: 4rem;
	margin-top: 2rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.marvel-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 20rem;
	}

	.marvel-text h2 {
		font-size: 2.7rem;
		text-align: center;
	}

	.marvel-text h3 {
		width: 20rem;
	}

	.marvel-text a {
		width: 15rem;
	}

	#backgroundvideo {
		object-fit: contain;
		overflow: auto;
		object-position: right;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.marvel-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10rem;
	}

	.marvel-text h2 {
		font-size: 2.7rem;
		max-width: 100%;
		text-align: center;
	}

	#backgroundvideo {
		object-fit: cover;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.marvel-text {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin: 10rem;
	}

	.marvel-text h2 {
		font-size: 3rem;
		text-align: center;
	}

	#backgroundvideo {
		object-fit: cover;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.video-marvel video {
		width: 100%;
		object-fit: fill;
		overflow: hidden;
	}

	.marvel-text {
		display: flex;
		flex-direction: column;
		align-items: start;
		margin: 10rem;
	}

	.marvel-text h2 {
		font-size: 3rem;
	}

	#backgroundvideo {
		object-fit: cover;
	}
}



/* favorieten pagina*/

.favoriet-article h2 {
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.0010rem;
	font-weight: 100;
	font-size: 1.3rem;
}

.favoriet-article h3 {
	color: black;
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
}

.favoriet-article p {
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.0010rem;
	font-weight: 100;
	font-size: 1.0rem;
	margin-bottom: 2rem;
}

.favoriet-article a {
	text-decoration: none;
	font-family: 'Martel sans', sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: 4rem;
	background-color: black;
	padding: 0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	width: 15rem;
	text-align: center;
	line-height: 1.5rem;
	margin-top: 1rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.favorite-picture a img {
		object-fit: cover;
		object-position: center;
		margin: 1rem;
		max-width: 29rem;
	}

	.favorieten {
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.favoriet-article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 24rem;
		text-align: center;
		margin-left: 4rem;
		margin-bottom: 4rem;
	}


}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.favorite-picture a img {
		width: 100%;
		height: 100%;
		max-width: 60rem;
		object-fit: cover;
		object-position: center;
		margin: 0;
	}

	.favorieten {
		display: flex;
		flex-direction: row;
		margin: 0;
	}

	.favoriet-article {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 10rem;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.favorite-picture a img {
		width: 100%;
		height: 100%;
		max-width: 45rem;
		object-fit: cover;
		object-position: center;
		margin: 0;
	}

	.favorieten {
		display: flex;
		flex-direction: row;
		margin: 0;
	}

	.favoriet-article {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 10rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.favorite-picture a img {
		width: 100%;
		object-fit: cover;
		object-position: center;
		margin: 0;
	}

	.favorieten {
		display: flex;
		flex-direction: row;
		margin: 0;
	}

	.favoriet-article {
		display: flex;
		flex-direction: column;
		width: 50%;
		margin: 10rem;
	}
}




/* Rosenthal pagina*/
.rosenthal {
	display: flex;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: auto;
	margin: 0;
	height: 40rem;
}

.rosenthal-text h2 {
	color: black;
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 500;
}

.rosenthal-text a {
	text-decoration: none;
	font-family: 'Martel sans', sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: 4rem;
	background-color: black;
	padding: 0.2rem;
	padding-left: 5.5rem;
	padding-right: 5.5rem;
	line-height: 1.5rem;

}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.rosenthal {
		background-image: url("..//images/main/decoratie-page/rosenthal-759-950.avif");
	}

	.rosenthal h2 {
		max-width: 34rem;
		font-size: 2.5rem;
	}

	.rosenthal a {
		width: 30rem;
	}

	.rosenthal-text {
		text-align: center;
		margin-top: 29rem;
		margin-bottom: 8rem;
	}

	.rosenthal a {
		margin-bottom: 4rem;
	}
}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.rosenthal {
		background-image: url("..//images/main/decoratie-page/rosenthal-2048-1536.avif");
	}

	.rosenthal h2 {
		max-width: 24rem;
		font-size: 2rem;
	}

	.rosenthal a {
		width: 15rem;
	}

	.rosenthal-text {
		margin: 10rem;
		align-items: start;
	}
}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.rosenthal {
		background-image: url("..//images/main/decoratie-page/rosenthal-1449-600.avif");
	}

	.rosenthal h2 {
		max-width: 28rem;
		font-size: 2.4rem;
	}

	.rosenthal a {
		width: 15rem;
	}

	.rosenthal-text {
		margin: 10rem;
		align-items: start;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.rosenthal {
		background-image: url("..//images/main/decoratie-page/rosenthal-3840-1300.avif");
	}

	.rosenthal h2 {
		width: 40rem;
		font-size: 3.5rem;
	}

	.rosenthal a {
		width: 15rem;
	}

	.rosenthal-text {
		margin: 10rem;
		align-items: start;
	}
}




/* crystal society*/

.de-swarovski {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: start;
	padding: 0 8.3%;
}

.crystal-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	margin: 0;
}

.de-swarovski h2 {
	color: black;
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.0010rem;
	font-weight: 100;
	font-size: 1.3rem;
}

.de-swarovski h3 {
	color: black;
	font-family: 'Hedvig Letters Serif', sans-serif;
	font-weight: 500;
}

.de-swarovski p {
	font-family: 'Martel sans', sans-serif;
	letter-spacing: 0.0010rem;
	font-weight: 100;
	font-size: 1.0rem;
	line-height: 1.5rem;
}

.de-swarovski a {
	text-decoration: none;
	font-family: 'Martel sans', sans-serif;
	color: white;
	font-size: 1rem;
	font-weight: 4rem;
	background-color: black;
	padding: 0.2rem;
	padding-left: 5.5rem;
	padding-right: 5.5rem;
	line-height: 1.5rem;
}

/*Styling voor max-width 759 pixels */
@media only screen and (max-width: 759px) {
	.crystal-society {
		display: flex;
		flex-direction: column;
		height: 100%;
		margin: 0;
	}

	.crystal-picture img {
		max-width: 28rem;
		text-align: center;
		margin: 2rem;
	}

	.de-swarovski {
		padding-top: 2rem;
	}

	.crystal-button {
		margin-bottom: 3rem;
	}

}

/*Styling voor max-width 1024 pixels */
@media only screen and (min-width:760px) and (max-width: 1024px) {
	.crystal-society {
		display: flex;
		flex-direction: row;
		height: auto;
		margin: 0;
	}

	.crystal-picture {
		place-content: center;
	}

	.de-swarovski {
		padding-top: 1rem;
		width: 70rem;
	}

	.de-swarovski h3 {
		font-size: 1.5em;
	}

	.de-swarovski h2 {
		font-size: 1rem;
	}

	.de-swarovski a {
		max-width: 10rem;
	}

}

/*Styling voor max-width 1449 pixels */
@media only screen and (min-width:1025px) and (max-width: 1449px) {
	.crystal-society {
		display: flex;
		flex-direction: row;
		height: auto;
		margin: 0;
	}

	.de-swarovski {
		padding-top: 6rem;
	}

	.de-swarovski h3 {
		font-size: 2.2rem;
	}

	.de-swarovski a {
		width: 15rem;
	}
}

/*Styling voor min-width 1450 pixels */
@media only screen and (min-width: 1450px) {
	.crystal-society {
		display: flex;
		flex-direction: row;
		height: auto;
		margin: 0;
	}

	.de-swarovski {
		padding-top: 8rem;
	}

	.de-swarovski h3 {
		font-size: 2.2rem;
	}

	.de-swarovski a {
		width: 15rem;
	}
}


/* kristal decoraties*/

.kristal-decoraties {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f0eee4;
	padding-bottom: 5rem;
}

.kristal-decoraties img {
	width: 2rem;
}

.kristal-decoraties h2 {
	font-family: 'Martel sans', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.004rem;
	font-weight: 100;
}

.kristal-decoraties p {
	font-family: 'Martel sans', sans-serif;
	text-align: center;
	max-width: 23rem;
	color: black;
	margin: 0;
	line-height: 1.5rem;
}

.kristal-decoraties a {
	color: black;
}